[http "https://github.com"]
	proxy = http://proxy-us.intel.com:912
[http "https://lfs.github.com"]
	proxy = http://proxy-us.intel.com:912
[http "https://github-cloud.s3.amazonaws.com"]
	proxy = http://proxy-us.intel.com:912
[http "https://github-cloud.githubusercontent.com"]
	proxy = http://proxy-us.intel.com:912
[user]
	email = jack.myers@intel.com
	name = Jack Myers
[fetch]
	prune = true
[credential "https://github.com"]
	helper = 
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
