version = 1

{{ if eq .chezmoi.os "linux" }}
[envs.dev]
channels = ["conda-forge"]
dependencies = { python = "*", git = "*", cmake = "*", make = "*", ninja = "*", go = "*", nvim = "*", nodejs = "*", gcc = "*", gxx = "*", sysroot_linux-64 = ">=2.28", ripgrep = "*", tree-sitter-cli = "*", bottom = "*", lazygit = "*", gdu = "*", neocmakelsp = "*", mdformat = "*" , c-compiler = "*", cxx-compiler = "*", openssl = "*", zlib = "*", rust = "*", zstd = "*" , pkg-config = "*" , nushell = "*" }
exposed = { nu = "nu" }
{{ end }}
{{ if eq .chezmoi.os "windows" }}
[envs.dev]
channels = ["conda-forge"]
dependencies = { python = "*", git = "*", cmake = "*", make = "*", ninja = "*", go = "*", nodejs = "*", gcc_win-64 = "*", gxx_win-64 = "*", ripgrep = "*", tree-sitter-cli = "*", bottom = "*", lazygit = "*", gdu = "*", perl = "*" , rust = "*" , neocmakelsp = "*", mdformat = "*", openssl = "*", zlib = "*", rust = "*", zstd = "*" , pkg-config = "*" , nushell = "*" }

exposed = { nu = "nu" }
{{ end }}
[envs.rattler-build]
channels = ["conda-forge"]
dependencies = { rattler-build = "*" }
exposed = { rattler-build = "rattler-build" }

[envs.anaconda-client]
channels = ["conda-forge"]
dependencies = { anaconda-client = "*" }
exposed = { anaconda = "anaconda", binstar = "binstar", conda-server = "conda-server" }

