[Desktop Entry]
Version=1.0
Type=Application
Name=kitty URL Launcher (on default)
GenericName=Terminal emulator (on default)
Comment=Open URLs with kitty
StartupNotify=true
Exec=/usr/bin/distrobox-enter  -n default  --   kitty +open  %U 
Icon=kitty
Categories=System;TerminalEmulator;
NoDisplay=true
MimeType=image/*;application/x-sh;application/x-shellscript;inode/directory;text/*;x-scheme-handler/kitty;x-scheme-handler/ssh;
StartupWMClass=kitty
