[Desktop Entry]
Version=1.0
Type=Application
Name=kitty (on default)
GenericName=Terminal emulator (on default)
Comment=Fast, feature-rich, GPU based terminal
StartupNotify=true
Exec=/usr/bin/distrobox-enter -n default -nw  -- kitty
Icon=kitty
Categories=System;TerminalEmulator;
StartupWMClass=kitty
Actions=open-system-terminal

[Desktop Action open-system-terminal]
Name=Open System Terminal
Exec=kitty -d "~"

